* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-size: 20px;
  /* background: ivory; */
}

h1,
.header-title {
  font-family: "Satisfy", cursive;
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

.abstract-definition {
  margin: 10px 15px;
  font-size: 20px;
}

span {
  color: #3339c9;
}
.header-call-to-action {
  color: springgreen;
}

h2,
h3 {
  font-family: "Alegreya Sans", sans-serif;
}

/* h2,
.types {
  text-align: center;
} */

.btn {
  display: inline-block;
  margin: 10px 15px;
  padding: 0.5em 1.25em;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #3339c9;
}

.btn:hover,
.btn:focus {
  background: slateblue;
}

header,
.hero {
  background-image: url("../img/background.jpg");
  background-size: cover;
  opacity: 90%;
  color: #fff;
}

.container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid pink; */
}
